In [158]:
import pandas as pd
import numpy as np
import pandas_ta as ta

In [159]:
df = pd.read_csv('data/n50_data.csv')

In [160]:
df['Date'] = pd.to_datetime(df['Date'])

In [161]:
print(df.shape)
df = df.drop_duplicates()
df = df[df['Date'] >= '2010-04-01']
df = df.dropna()
print(df.shape)

(240148, 14)
(142086, 14)

In [162]:
df_wipro = df[df.Symbol=='WIPRO']

In [163]:
df_wipro.set_index(pd.DatetimeIndex(df_wipro["Date"]), inplace=True)

In [164]:
df_wipro.head()

,Date,Symbol,Open,High,Low,Last,Close,Average,Volume,Turnover,Trades,Deliverable_quatity,Deliverable_quatity_pct,10d_pct_change
Date,,,,,,,,,,,,,,
2010-04-01,2010-04-01,WIPRO,159.975,163.2375,159.30000,162.0000,162.30375,162.07650,642890,4.631018e+08,642928.887951,304684,47.39,0.006765
2010-04-05,2010-04-05,WIPRO,162.675,163.5300,160.43625,162.6975,162.48375,161.61525,390240,2.803044e+08,390264.215968,135890,34.82,0.005650
2010-04-06,2010-04-06,WIPRO,163.125,163.3500,159.82875,161.1000,160.92000,160.61175,461997,3.297878e+08,461989.291598,224342,48.56,0.015422
2010-04-07,2010-04-07,WIPRO,162.000,162.0000,159.07500,160.8750,160.81875,160.02900,800067,5.690373e+08,800011.773363,543608,67.95,0.016062
2010-04-08,2010-04-08,WIPRO,160.875,163.1025,159.75000,160.9650,161.26875,161.55225,627844,4.507986e+08,627842.044135,270286,43.05,0.013226

In [151]:
df_wipro = df_wipro.drop('Date', axis=1)

In [152]:
df_wipro.shape

(2920, 13)

In [153]:
df_wipro.ta.strategy()

In [154]:
"""
After candels : 83
After cycles : 84
"""
df_wipro.shape

(2920, 291)

In [155]:
df_wipro.isnull().sum()>0

Symbol       False
Open         False
High         False
Low          False
Last         False
             ...
WCP          False
WILLR_14      True
WMA_10        True
ZL_EMA_10     True
ZS_30         True
Length: 291, dtype: bool

In [28]:
df_wipro.ta.categories

['candles',
 'cycles',
 'momentum',
 'overlap',
 'performance',
 'statistics',
 'trend',
 'volatility',
 'volume']

In [157]:
df_wipro.reset_index().head()

,Date,Symbol,Open,High,Low,Last,Close,Average,Volume,Turnover,...,VIDYA_14,VTXP_14,VTXM_14,VWAP_D,VWMA_10,WCP,WILLR_14,WMA_10,ZL_EMA_10,ZS_30
0,2010-04-01,WIPRO,159.975,163.2375,159.30000,162.0000,162.30375,162.07650,642890,4.631018e+08,...,NaN,NaN,NaN,161.61375,NaN,161.786250,NaN,NaN,NaN,NaN
1,2010-04-05,WIPRO,162.675,163.5300,160.43625,162.6975,162.48375,161.61525,390240,2.803044e+08,...,NaN,NaN,NaN,162.15000,NaN,162.233437,NaN,NaN,NaN,NaN
2,2010-04-06,WIPRO,163.125,163.3500,159.82875,161.1000,160.92000,160.61175,461997,3.297878e+08,...,NaN,NaN,NaN,161.36625,NaN,161.254688,NaN,NaN,NaN,NaN
3,2010-04-07,WIPRO,162.000,162.0000,159.07500,160.8750,160.81875,160.02900,800067,5.690373e+08,...,NaN,NaN,NaN,160.63125,NaN,160.678125,NaN,NaN,NaN,NaN
4,2010-04-08,WIPRO,160.875,163.1025,159.75000,160.9650,161.26875,161.55225,627844,4.507986e+08,...,NaN,NaN,NaN,161.37375,NaN,161.347500,NaN,NaN,NaN,NaN

In [142]:
df_wipro.shape

(2920, 291)

In [144]:
df_wipro.to_csv("wipro_with_pandas_ta_features.csv")

In [ ]:
df_list = []
df.set_index(pd.DatetimeIndex(df["Date"]), inplace=True)
df = df.drop('Date', axis=1)
dfg = df.groupby(['Symbol'])
for grp in dfg.groups:
    x = dfg.get_group(grp).copy()
    x.ta.strategy()
    df_list.append(x)
newdf = pd.concat(df_list)