In [1]:
import pandas as pd
import numpy as np

In [3]:
df_n50_stocks = pd.read_csv(r"data\Adjusted\n50_adjusted.csv")

In [5]:
df_n50_stocks = df_n50_stocks.drop_duplicates()

In [6]:
df_n50_stocks.shape

(226166, 14)

In [25]:
df_n50_stocks.tail()

,Symbol,Series,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,
226298,IOC,EQ,119.20,120.00,118.35,118.90,119.15,119.02,7165590,8.528260e+08,67073,3403873,47.5,
226299,IOC,EQ,119.65,121.50,118.85,121.50,121.15,120.22,8373086,1.006625e+09,74605,3468036,41.42,
226300,IOC,EQ,121.50,124.40,121.35,123.30,123.30,123.22,14954005,1.842700e+09,88644,4840405,32.37,
226301,IOC,EQ,125.00,125.00,123.20,123.70,123.75,123.88,9699015,1.201511e+09,69852,3234911,33.35,
226302,IOC,EQ,124.20,125.55,123.35,123.75,123.95,124.60,14263853,1.777256e+09,78084,6448654,45.21,

In [23]:
df_n50_stocks[df_n50_stocks['Symbol'].map((df_n50_stocks.Symbol.value_counts() != 5486))].Symbol.unique()

array(['HINDALC0', 'HINDALCO', 'SHREECEM', 'DIVISLAB', 'HCLTECH', 'TECHM',
       'EICHERMOT', 'BAJAUTOFIN', 'BAJFINANCE', 'POWERGRID', 'TELCO',
       'TATAMOTORS', 'TCS', 'HDFCLIFE', 'BAJAJFINSV', 'NESTLEIND', 'NTPC',
       'BRITANNIA', 'INDUSINDBK', 'HINDLEVER', 'HINDUNILVR', 'TISCO',
       'TATASTEEL', 'MARUTI', 'LT', 'COALINDIA', 'BAJAJ-AUTO', 'UNIPHOS',
       'UPL', 'INFOSYSTCH', 'INFY', 'SBILIFE', 'BHARTI', 'BHARTIARTL',
       'TATATEA', 'TATAGLOBAL', 'TATACONSUM', 'UTIBANK', 'AXISBANK',
       'KOTAKMAH', 'KOTAKBANK', 'HEROHONDA', 'HEROMOTOCO', 'MUNDRAPORT',
       'ADANIPORTS'], dtype=object)